@using Syncfusion.EJ2
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WiseBOS Scheduler</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CalendarControl.styles.css" asp-append-version="true" />
    <link rel="stylesheet" id="theme" href="https://cdn.syncfusion.com/ej2/20.1.47/tailwind.css" />
    <script src="https://cdn.syncfusion.com/ej2/20.1.47/dist/ej2.min.js"></script>
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WiseBOS Scheduler</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <select class="form-select" onchange="setTheme(this.value)">
                                <option value="light">Light</option>
                                <option value="dark">Dark</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    
    <div class="container-fluid p-0">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CalendarControl - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
	<ejs-scripts></ejs-scripts>
    <script>
        
        function setTheme(theme){
            document.getElementById('theme').href = `https://cdn.syncfusion.com/ej2/20.1.47/tailwind${theme == 'light' ? '' : '-dark'}.css`;
            localStorage.setItem('theme', theme);
        }

        document.addEventListener('DOMContentLoaded', function() {
            setTheme(localStorage.getItem('theme') || 'light');
        })
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
